@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 248, 250, 252;
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
